.course-content-block{
    padding: 0 10px 10px;
}

.course-item{
    border: 2px solid #5098cf;
    padding-top: 20px;
    border-radius: 10px;
    margin-top: 10px;
    vertical-align: top;
    background: #ffffff;
}

.course-item h2{
    color: #5098cf;
    font-family: agencyfontbold;
    text-align: center;
    margin: 0;
    font-size: 4.7rem;
}

.course-item h3{
    color: #5098cf;
    font-family: agencyfontbold;
    text-align: center;
    margin: 0;
}

h3.price{
    font-family: 'Source Sans Pro', sans-serif;
    color: #000000;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.content-more{
    margin:0 0 0 10px;

}

.content-more p{
    font-size: 1.8rem;
    font-weight: 300;
    padding: 0;    
}

.course-content-block h5{
    margin: 20px 0 0 0;
    font-weight: 600;
    padding: 0;
}
.course-content-block p{
    margin: 0;
    font-weight: 600;
}     

.btn-course-item{
    width: 100%;
    border-radius: 0 0 7px 7px;
    padding: 15px 30px;
    border: 1px solid #5098cf;
    color: #ffffff;
    background-color: #5098cf;
}
.btn-course-item:hover{
    border: 1px solid #5098cf;
    background-color: #ffffff;
    color: #000000;
}


@media(min-width:1080px) {
.course-item{
    display: inline-block;
    width: 35%;
    margin-right: 5px;  
}
.course-content-block{
    padding: 0 22px 25px;
}
.course-content-block p{
    font-weight: 600;
}    
h3.price{
    font-family: 'Source Sans Pro', sans-serif;
    color: #000000;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
}