.block-content {
    padding: 18px 20px;
    background: #e6e6e6;
}
.block-content h1{
	 font-family:agencyfontbold;
    font-weight: 700;
    text-align: center;
}
@media(min-width: 1180px) {
.block-content {
	padding: 50px 100px;
	background-color: #e6e6e6;
}
.block-content h1{
	text-align: center;
}
.teacher-block {
    margin-top: 50px;
    display: block;
    margin-left: 190px;
}

}