.logo{
    display: inline-block;
}
.popup{
    display: inline-block;
    float: right;
}
.menu-button{
    cursor: pointer;
    z-index: 100;
    
}
.mobile-course a{
    text-decoration: none;
}
.mobile-course li{
    color: #000000;
}
.menu-button div:nth-child(2){
    margin: 5px 0;
    z-index: 2;    
}

.menu-button div{
    background:#000000;
    display: block;
    width: 28px;
    height: 5px;
    transition: all 0.3s ease-in-out;    
    position: relative;  
    z-index: 3;    
}

.dropdown-menu{
    opacity: 0;
    z-index: 1;
    transition: all .25s ease-out, height .25s ease-out .05s;
    pointer-events: none;
    position: absolute;   
    top: 10%;
    right: 0;
    border-top: 1px solid #a1a1a1;
    width: 100%;
}

.popup.active .menu-button div:nth-child(1){
    transform: translate(0, 11.5px) rotate(-315deg) ;
    background: #000000;
}
.popup.active .menu-button div:nth-child(3){
    background: #000000;
    transform: translate(0, -12px) rotate(-225deg);
}

.popup.active .menu-button div:nth-child(2){
    opacity: 0;
    height: 30px;
    margin: -6px auto;
    transform: rotate(-180deg);
}
.dropdown-item:hover{
    background: #31c36b;
    color: #ffffff;
}
.popup.active .dropdown-menu{
    opacity: 1;
    width: 100vw;
    height: 100vh;
    transition: all .25s ease-in, width .25s ease-in .05s;
    pointer-events: all;
}
.dropdown-item{
    padding: 10px 55px;
    width: 100%;
    font-weight: 600;    
    cursor: pointer;
    color: #000000;
    background: #ffffff;
    font-size:1.4rem;
}
.mobile-course h3{
    background: #ffffff;
    padding: 20px 40px;
    margin: 0;
    width: 100%;
    font-weight: 600;
}
.popup.active .dropdown-menu{
    transition: opacity 1s 0.45s;
    opacity: 1;
}
h3.event{
    margin: 0;
    padding: 0 40px;
    margin-bottom: 20px;
}
.logo img{
    max-width:90px;
    vertical-align: middle;
}
.mobile-nav{
    display: block;
}
@media(min-width:1024px){
.mobile-nav{
    display: none;
}
}
